.hud-root {
    flex-grow: 1;
    padding: 15px;
    -unity-font-definition: url("project://database/Assets/UI/Jersey_10/Jersey10-Regular%20SDF.asset");
}

.hud-row {
    margin-bottom: 9px;
}

.hud-label {
    color: #ffffff;
    font-size: 27px;
    margin-bottom: 3px;
}

.bar-container {
    width: 150px;
    height: 9px;
    background-color: rgba(0, 0, 0, 0.7);
    border-width: 1px;
    border-color: #ffffff;
}

.health-bar-fill {
    height: 100%;
    background-color: #ff4d4d;
}

.xp-bar-fill {
    height: 100%;
    background-color: #4da6ff;
}

.xp-header {
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    }

    .fade-overlay {
    position: absolute;
    width: 100%;
    background-color: #000000;
    }

    .instruction-container {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    }

    .instruction-label {
    color: #ffff00;
    font-size: 60px;
    -unity-font-definition: url("project://database/Assets/UI/Jersey_10/Jersey10-Regular%20SDF.asset");
    -unity-text-align: middle-center;
    }
