.root {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0);
}

.start-label {
    margin-bottom: 100px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    -unity-font-definition: url("project://database/Assets/UI/Jersey_10/Jersey10-Regular%20SDF.asset");
    -unity-text-align: middle-center;
}

.fade-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0;
}
